.avatar {
  border-radius: 50%;
}

.avatar a {
  text-decoration: none;
}

.avatar-name {
  display: flex;
  justify-content: center;
  align-items: center;
  /* filter: grayscale(1);
  mix-blend-mode: difference; */
}

.avatar-name.avatar-12 {
  width: 16px;
  height: 16px;
  font-size: 0.5rem;
}

.avatar-name.avatar-36 {
  width: 48px;
  height: 48px;
  font-size: 1.5rem;
}

.avatar-name.avatar-96 {
  width: 128px;
  height: 128px;
  font-size: 4rem;
}
